.education__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.education {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 2px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
    padding-bottom: 2rem;
}

.education:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.education__head {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.education__head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.education > a {
    margin: 0 auto;
    display: block;
}

.education__img {
    padding-bottom: 0.5rem;
    max-width: 100%; 
    height: auto;   
    width: 80%;   
    max-width: 150px; 
    margin: 0 auto;
    display: block;
}

.education__list {
    padding: 2rem;
}

.education__list li {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.8rem;
}

.education__list-icon {
    color: var(--color-primary);
    width: 30px;
    margin-top: 3px;
}

.education__list p {
    font-size: 0.9rem;
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES) ============ */
@media screen and (max-width: 1024px) {
    .education {
        height: auto;
    }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 600px) {
    .education__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}